@import 'variables';
@import 'slider';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

body {
  text-align: center;
  width: 100%;
  height: 100%;
  background: $background-color;
  color: $font-color;
  font-size: $f-size;
  font-family: $f-family__sans;
  position: relative;

  &.no__scroll {
    overflow: hidden;
  }

  main {
    width: 100%;
    height: 100%;

    #weather-slider {
      height: 100%;

      .weather-city {
        position: relative;
        padding: $gap__l $gap__s $gap__s;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        
        @media (min-width: $breakpoint__mobile) {
          flex-flow: row;
        }

        > [class^='city__'] {
          margin: $gap__s 0;
          padding: $gap__s;
          
          @media (min-width: $breakpoint__mobile) {
            margin: 0;
            padding: $gap__l;
          }
        }

        .city__current {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 100;
          min-width: 35%;
          
          @media (max-width: $breakpoint__mobile-ex) and (min-height: $breakpoint__mobile-v) {
            max-height: 50%;
          }

          .city__current-inner {
            display: flex;
            flex-flow: column;

            .current__location {
              margin-bottom: $gap__xs;
            }

            .current__temp {
              font-size: calc($f-size__xxl * 2);
              line-height: 1;
            }
            
            .current__desc,
            .current__minmax {
              font-family: $f-family__mono;
            }
          }
        }

        .city__forecast {
          @include neumorph;
          z-index: 100;

          .city__forecast-inner {
            display: flex;
            flex-flow: row;

            @media (min-width: $breakpoint__mobile) {
              flex-flow: column;
              height: 100%;
            }
            
            .forecast__day {
              display: flex;
              flex-flow: column;
              align-items: center;

              @media (min-width: $breakpoint__mobile) {
                flex-flow: row wrap;
                flex-grow: 1;
                justify-content: space-between;
                text-align: left;
                
                &:not(:last-child) {
                  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
                  margin-bottom: 1em;
                  // padding-bottom: 1em;
                }
              }

              h6 {
                display: block;
                z-index: 50;
                font-family: $f-family__mono;

                @media (min-width: $breakpoint__mobile) {
                  width: 100%;
                }
              }
              
              img {
                max-width: 20%;
                
                @media (max-width: $breakpoint__mobile-ex) {
                  width: 100%;
                  max-width: unset;
                  min-height: 62px;
                }
              }

              .forecast__extra {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                width: 50%;
                
                @media (max-width: $breakpoint__mobile-ex) {
                  border-top: 1px solid $light;
                  margin-top: 1rem;
                  flex-flow: column;
                  height: 100%;
                  width: 100%;
                }
                
                h5 {
                  font-family: $f-family__mono;
                  font-size: .8rem;
                  padding: .5rem 0;

                  @media (min-width: $breakpoint__mobile) {
                    width: 50%;
                    line-height: 1.5;
                  }

                  &:last-of-type {
                    @media (max-width: $breakpoint__mobile-ex) {
                      margin-top: auto;
                    }
                  }

                  span {
                    font-family: $f-family__sans;
                    font-weight: $f-weight__bold;
                    display: inline-block;
                    
                    @media (max-width: $breakpoint__mobile-ex) {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }

        .city__bg {
          width: 100%;
          height: 100%;
          margin: 0;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          background-size: cover;
          filter: blur(2px) contrast(.8);
          transition: $t__min;
          will-change: transform;
          
          @supports (backdrop-filter: none) {
            filter: contrast(.8);
          }

          &::before {
            @include pseudo;
            background-color: rgba($dark-teal, .6);
          }
        }

        .city__waves {
          flex-grow: 1;
          max-height: 50%;
          // border-left: 2px solid;
          // border-bottom: 2px solid;
          margin-bottom: 0;
          padding-top: 0;
          z-index: 0;
          opacity: .5;
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;

          @media (min-width: $breakpoint__mobile) {
            position: absolute;
            bottom: 0;
            width: calc(100% - ($gap__m * 2));
            height: 100%;
            margin: $gap__m;
          }

          &::before,
          &::after {
            position: absolute;

            @media (min-width: $breakpoint__mobile) {
              margin: 0;
            }
          }

          // &::before {
          //   content: 'C°';
          //   border-top: 1px solid $lighter;
          //   padding: $gap__xxs 0 0 $gap__xs;
          //   left: $gap;

          //   @media (min-width: $breakpoint__mobile) {
          //     left: 0;
          //   }
          // }

          // &::after {
          //   content: 'h';
          //   border-right: 1px solid $lighter;
          //   padding: 0 $gap__xs $gap__xs 0;
          //   right: $gap;
          //   bottom: $gap;

          //   @media (min-width: $breakpoint__mobile) {
          //     right: 0;
          //     bottom: 0;
          //   }
          // }

          .wave {
            position: absolute;
            width: 200%;
            max-height: 100%;
            left: -50%;
            bottom: 0;
            color: $lighter;
            opacity: .3;
            transition: transform $t__base;
            
            @media (min-width: $breakpoint__mobile) {
              left: 0;
              bottom: calc(-1 * $gap__l - 2px);
              max-height: unset;
              animation: waves $t__slower * 30 infinite alternate linear;
              filter: blur(8px);
            }

            &:first-child {
              animation-duration: $t__slower * 80;
              filter: blur(2px);
            }
          }
        }

        &:nth-child(even){
          .city__waves .wave {
            color: $dark-orange;

            &:first-child {
              color: $orange;
            }
          }
        }
        
        &:nth-child(odd) { 
          .city__waves .wave {
            color: $dark-teal;
            z-index: 40;
            mix-blend-mode: normal;
            animation-direction: alternate;

            &:first-child {
              color: $teal;
            }
          }
        }
      }
    }
  }

  #loader {
    position: absolute;
    border: 12px solid $teal; 
    border-top-color: $dark-teal;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-.5, -.5);
    z-index: 3000;
    animation: spin 2000ms linear infinite;
  }
}

@keyframes spin {
  0% { transform: translate(-50%) rotate(0deg); }
  100% { transform: translate(-50%) rotate(360deg); }
}

@keyframes waves {
  from {transform: translateX(0%); }
  to {transform: translateX(-50%); }
}