@mixin slider($light, $color, $dark) {

    .slider {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        color: $light;
    
        .slider__track {
            position: relative;
            display: flex;
            flex-flow: row;
            transition: transform $t__base ease;
            height: 100%;
            width: max-content;
            cursor: grab;
    
            &.is__dragging {
                cursor: grabbing;
                transition-duration: $t__faster;
            }
            
            .slider__slide {
                width: 100vw; // @NEXT implement dynamic slidewidth
                display: block;
                position: relative;
                flex-shrink: 0;
                overflow: hidden;
            }
        }
        
        .slider__pagination {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 30;
            
            .dot__list {
                display: flex;
                flex-flow: row;
                
                .dot__item {
                    cursor: pointer;
                    padding: $gap $gap__xxs;
                    transition: background-color $t__fast;
                    
                    &::after {
                        @include pseudo('relative');
                        height: auto;
                        width: 8px;
                        aspect-ratio: 1 / 1;
                        border-radius: 50%;
                        background-color: transparent;
                        border: 1px solid $lighter;
                        @include neumorph('out');
                    }
                    
                    &.is__active {
                        &::after {
                            background-color: $lighter;
                        }
                    }
                }
            }
        }
        
        .slider__navigation {
            display: none;

            @media (min-width: $breakpoint__mobile) {
                display: block;
                width: 100%;
                
                .next,
                .prev {
                    cursor: pointer;
                    position: absolute;
                    height: 100%;
                    margin-top: 6px;
                    width: 10%;
                    z-index: 300;
                    top: 0;
                    left: 0;
                    transition: $t__fast ease;
                    transition-property: background-color;
                    mix-blend-mode: overlay;
                    filter: blur(32px);
    
                    &:hover {
                        background-color: rgba($light, .7 );
                    }
                }
                
                .next {
                    left: unset;
                    right: 0;
                }
            }
        }

        .slider__pagination + .slider__track {
            .slider__slide > :first-child {
                margin-top: $gap__xl;
            }
        }
    }
}

@include slider($lighter, $light, $dark);